<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jimaro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jimaro</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$jimaro</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s9mwupcayc.database.windows.net,1433;Initial Catalog=jimarodb;User ID=jimaro@s9mwupcayc;Password=l00g0nt0JDB" Name="Data Source=tcp:s9mwupcayc.database.windows.net,1433;Initial Catalog=jimarodb;User Id=jimaro@s9mwupcayc;Password=l00g0nt0JDB" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcSampleApp.Models.UsersContext, MvcSampleApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MvcSampleApp.Models.MessageContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:s9mwupcayc.database.windows.net,1433;Initial Catalog=jimarodb;User ID=jimaro@s9mwupcayc;Password=l00g0nt0JDB" Name="Data Source=tcp:s9mwupcayc.database.windows.net,1433;Initial Catalog=jimarodb;User Id=jimaro@s9mwupcayc;Password=l00g0nt0JDB" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MvcSampleApp.Models.MessageContext, MvcSampleApp" MigrationConfiguration="MvcSampleApp.Migrations.Configuration, MvcSampleApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s9mwupcayc.database.windows.net,1433;Initial Catalog=jimarodb;User Id=jimaro@s9mwupcayc;Password=l00g0nt0JDB</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MvcSampleApp.Models.MessageContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s9mwupcayc.database.windows.net,1433;Initial Catalog=jimarodb;User Id=jimaro@s9mwupcayc;Password=l00g0nt0JDB</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MvcSampleApp.Models.MessageContext" />
  </ItemGroup>
</Project>